.lands path{
  fill: #3c7531;
  stroke: #FFF;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.lands path:hover{
  fill: #e4e11e;
}

.icons path:hover{
  fill: #000;
  transition: fill 0.3s;
}

.oceans path{
  fill: #0dcaf0;
  stroke: #FFF;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.mers path{
  fill: #0dcaf0;
  stroke: #FFF;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.mers path:hover{
  fill: #0a53be;
}

.oceans path:hover{
  fill: #0a53be;
}
